@font-face {
    font-family: Roboto;
    src: url(./resources/fonts/Roboto/Roboto-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    height: 100vh;
    box-sizing: border-box;
}

img {
    height: auto;
    width: 500px;
    padding: 50px 0px 50px 100px;
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1f2937;
}

.upper-head, .lower-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: auto 200px;
    flex: 0 0 1;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
    padding-right: 400px;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
}

a {
    padding: 16px;
}

.lower-info{
    width: 400px;
    justify-content: space-around;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}
