@font-face {
    font-family: Roboto;
    src: url(./resources/fonts/Roboto/Roboto-Regular.ttf);
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    height: 100vh;
    box-sizing: border-box;
    
}

/* top section */

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.upper-head, .lower-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    flex: 0 0 1;
}

.upper-head{
    margin: auto 200px;
}

.lower-head{
    margin: 96px 200px;
}


h1 {
    font-size: 24px;
    color: #f9faf8;
    padding-right: 400px;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
}

a {
    padding: 16px;
}

.lower-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 200px;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.info-block, .pic-info{
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px 0px;
}

.head-button{
    color: #f9faf8;
    background-color: #3882f6;
    padding: 6px;
    width: 100px;
    border-radius: 8px;
}

.image-zone img {
    height: 200px;
    width: auto;
}


/* info block */
.block-2{
    width: 1000px;
}

h3{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.image-zone-2, .pic-text{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.image-zone-2 img,
.pic-text .pic-info{
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 18px;
}

.image-zone-2 img{
    border: solid #3882f6 2px;
    border-radius: 8px;
}